templateFile /global/cscratch1/sd/mgatti/BFD/runs_collab_meeting/more_realistic_varynoise2_varying_PSF_lowSN_selection_mcal5_/templates_NOISETIER_2.fits 
targetFile /global/cscratch1/sd/mgatti/BFD/runs_collab_meeting/more_realistic_varynoise2_varying_PSF_lowSN_selection_mcal5_/ISm_targets_sample_g.fits 
useTier 2
chunk 10000
